<div style="width:100%"><a href="https://www.routledge.com/Python-Programming-for-Mathematics/Guillod/p/book/9781032910116"><img src="https://python.guillod.org/book/banner1.png"/></a></div>

This file reflects the statements of the exercises of a chapter of the book *[Python Programming for Mathematics](https://www.routledge.com/Python-Programming-for-Mathematics/Guillod/p/book/9781032910116)*.
All statements can be downloaded in [Jupyter Notebook](https://python.guillod.org/book/) format or executed directly online on [GESIS](https://notebooks.gesis.org/binder/v2/gh/guillod/python-book/HEAD).
The answers are available in the book (ISBN [9781032910116](https://www.routledge.com/Python-Programming-for-Mathematics/Guillod/p/book/9781032910116)) and ebook (ISBN [9781003565451](https://www.routledge.com/Python-Programming-for-Mathematics/Guillod/p/book/9781003565451)) published by Chapman & Hall/CRC Press in the Python Series.
This file reflects the exercises as published in this book and differs somewhat from the exercises presented on the page [python.guillod.org](https://python.guillod.org/).

# 2 Data structures

<div id="ch:structures"></div>

To represent data structures, Python offers four basic types: lists (type `list`), tuples (type `tuple`), sets (type `set`), and dictionaries (type `dict`). The purpose of this chapter is to show the fundamental differences between these data structures and to explain what they are best suited for. Detailed documentation on data structures is available [here](https://docs.python.org/3/tutorial/datastructures.html).

**Concepts abord√©s:**

* data structures (list, tuple, set, dictionary)

* mutable and immutable types

* hashable type

* list, set and dictionary comprehensions

* numerical series

# Exercise 2.1: Lists

<div id="exer:structures-listes"></div>

A list is a structure allowing to store heterogeneous elements:

In [1]:
list0 = [0, 5.4, "string", True]

Lists are mutable, *i.e.*, it is possible to modify an element, add one or delete one, without having to redefine the whole list.

In [2]:
list0[3] = False # replace True by False
list0.append("new") # add the string "new" to the list
list0.insert(2, 34) # insert 34 in place of 2
list0.remove(0) # remove 0

In particular, care must be taken when copying a list. If we execute the following code:

In [3]:
list1 = list0
list1[2] = "change"
list0

then `list0` is also modified and is equal to `list1`. To create a real copy, you have to use the following code:

In [4]:
list2 = list0.copy()
list2[2] = "rechange"
list0

which does not modify `list0`.
Note that it is possible to modify the elements of a list inside a function:

In [5]:
def f(l):
    l[0] = 0
f(list0)

Finally, it is possible to create lists with the help of list comprehension:

In [6]:
list1 = [2*i+1 for i in range(10)]

**a)**
Search the documentation for the syntax to concatenate two lists.

**Hint.**
See the documentation [here](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range).

**b)**
Look in the documentation for the syntax to extract a slice from a list, *i.e.*, if `a` is, for example, a list of length 10, return the elements from 6 to 9.

**Hint.**
See the documentation [here](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range).

**c)**
Search the documentation for the syntax to return the length of a list.

**d)**
Write a function `fibonacci(N)` that returns the list of $N$ first terms of the Fibonacci sequence defined by $u_{n+2} = u_{n+1}+u_n$ with $u_0=0$ and $u_1=1$.

**e)**
Write a function `pascal(N)` that returns the $N$-th line of Pascal's triangle:

<center><img src="" style="width:90%;max-width:150px;"></center>

**f)**
Let $(u_n)_{n\in\mathbb{N}}$ and $(v_n)_{n\in\mathbb{N}}$ be the sequences defined by $u_0=1$, $v_0=1$, and

$$
\begin{align*}
u_{n+1} &= u_n + v_n \,, & v_{n+1} &= 2u _n - v_n \,,
\end{align*}
$$

for $n\geq0$. Calculate $u_{100}$ and $v_{100}$.

**Answer.**
$u_{100}=v_{100}=717897987691852588770249$.

**g)**
Write a function `vk(n0,K)`, which for two integers $n_0$ and $K\geq1$ computes the sequence of values $v_k$ defined by $v_0 = n_0$ and

$$
v_{k+1}=\begin{cases}
3v_{k}+1 & \text{if $v_{k}$ is odd},\\ 
\frac{v_{k}}{2} & \text{if $v_{k}$ is even},
\end{cases}
$$

for $0 \leq k < K$. For $K = 1‚ÄØ000$ and various values of $n_0 \in \{10, 100, 1‚ÄØ000, 10‚ÄØ000\}$, display the last five calculated values, *i.e.*, $(v_{K-4},v_{K-3},v_{K-2},v_{K-1},v_K)$.

**Answer.**
The following statements are true:

In [13]:
vk(10,1000) == [1, 4, 2, 1, 4]
vk(100,1000) == [2, 1, 4, 2, 1]
vk(1000,1000) == [1, 4, 2, 1, 4]
vk(10000,1000) == [4, 2, 1, 4, 2]


<!-- --- end exercise --- -->




<!-- --- begin exercise --- -->

# Exercise 2.2: Tuples

<div id="exer:structures-tuples"></div>

Tuples allow, just like lists, to store heterogeneous elements:

In [15]:
tuple0 = (0, 5.4, "string", True)

But unlike lists, tuples are not mutable. It is not possible to modify an element, add one or delete one, without redefining the whole tuple. The advantage of a tuple over a list is that it is hashable, *i.e.*, it can be used as a key in a dictionary.

Finally, it is possible to assign variables inside a tuple, for example:

In [16]:
(a,b) = (1,9)

This is especially useful for exchanging two variables without having to use an additional variable:

In [17]:
(a,b) = (b,a)

**a)**
Check that a tuple is immutable.

**b)**
Define a function `mdlast(lst,val)` having as argument a list of integer tuples `lst` and an integer `val` and return the list of tuples with the last element of each tuple replaced by `val`.
For example, if `lst = [(10, 20), (30, 40, 50, 60), (70, 80, 90)]`, then `mdlast(lst,100)` should return `[(10, 100), (30, 40, 50, 100), (70, 80, 100)]`.

**c)**
How to convert a tuple into a list and vice versa?

# Exercise 2.3: Sets

<div id="exer:structures-ensembles"></div>

Sets are used to store heterogeneous elements in the mathematical sense of set theory:

In [21]:
set0 = {0, 5.4, "string", True}

It is possible to test if an element belongs to a set:

In [22]:
if "string" in set0:
    print("inside")

Sets are mutable, so it is possible to add or remove an element from a set:

In [23]:
set0.add(18) # add 18 to the set
set0.add(0) # add 0 to the set (this does nothing as 0 already belongs to the set)
set0.remove("string") # remove "string to the set

On the other hand, sets can only contain hashable elements, *i.e.*, immutable. In particular a set cannot contain another set:

In [24]:
set1 = {{1,2},{3},{4}}
TypeError: unhashable type: 'set'

Note that in Python there are also immutable sets, called `frozenset`:

In [25]:
frozenset0 = frozenset([0, 5.4, "string", True])

A string can be transformed into a set:

In [26]:
set1 = set('abracadabra')

As with lists, it is possible to make set comprehensions:

In [27]:
set2 = {x for x in 'abracadabra' if x not in 'abc'}

In this example, strings are automatically transformed into sets.
Note that the empty set is defined by `set()`.

**a)**
Define a function `divisible(n)` that returns the set of integers divisible by `n` less than or equal to 100.

**b)**
Search the literature to find the intersection, union, and difference of two sets. Determine the numbers less than or equal to 100 that are not divisible by 2 but divisible by 3 and 5.

**Hint.**
See the documentation of `set` [here](https://docs.python.org/3/library/stdtypes.html#set).

# Exercise 2.4: Dictionaries

<div id="exer:structures-dictionnaires"></div>

Dictionaries are a structure allowing to store heterogeneous elements indexed by keys (also heterogeneous):

In [31]:
dict0 = {"apples": 0, "pears": 4, 12: 2}

The elements of a dictionary are accessible through the keys:

In [32]:
dict0["apples"]
dict0[12]

A dictionary can be seen as an associative array associating to each key a value. The list of keys and the list of values are accessible, respectively, with `dict0.keys()` and `dict0.values()`.
Dictionaries are mutable, so it is possible to modify a key-value association and to add or remove one:

In [33]:
dict0["apples"] = 3 # modify the value associated to apples
dict0["oranges"] = "many" # add oranges as key with value "many"
del dict0["pears"] # remove the key pears, hence the value
dict0.pop("apples") # remove the key apples, hence the value

Although a dictionary is mutable, the keys that compose it must be hashable objects, *i.e.*, immutable. Thus, a list or a set cannot be used as keys in a dictionary:

In [34]:
dict0[list0] = "test"
TypeError: unhashable type: 'list'
dict0[set0] = "retest"
TypeError: unhashable type: 'set'

On the other hand, it is possible to have a tuple or a frozenset as a key:

In [35]:
dict0[tuple0] = "test"
dict0[frozenset0] = "rest"

hence the interest of frozensets.
As for lists and sets, it is possible to make dictionary comprehensions:

In [36]:
dict1 = {x: x**2 for x in range(5)}

Finally, an interesting thing about dictionaries is the unpacking illustrated by the following example:

In [37]:
def add(a=0, b=0):
    return a + b
d = {'a': 2, 'b': 3}
add(**d)

**a)**
How to define an empty dictionary?

**b)**
How to concatenate several dictionaries together?

**c)**
We consider a list of words:

In [41]:
words = ['Apricot', 'Cranberry', 'Pineapple', 'Banana', 'Blackcurrant', 'Cherry', 'Lemon', 'Clementine', 'Quince', 'Date', 'Strawberry', 'Raspberry', 'Pomegranate', 'Gooseberry', 'Persimmon', 'Kiwi', 'Litchi', 'Mandarin', 'Mango', 'Melon', 'Mirabelle', 'Nectarine', 'Orange', 'Grapefruit', 'Papaya', 'Peach', 'Pear', 'Apple', 'Plum', 'Grape']

Write a function `position(words, x, n)` that returns the list of words with the character `x` as their `n`-th letter (starting from zero, as in Python).

**Answer.**
For example, `position(words,'e',4)` should return the list:

In [42]:
['Clementine', 'Gooseberry', 'Grapefruit', 'Apple', 'Grape']


**d)**
Assuming that the list of words is very long, then each time the `position` function is evaluated, the whole set of words is searched, which takes quite a long time. To improve this, build a dictionary `mots_dict` having as keys the tuples `(x,n)` and as values the list of words having the character `x` as `n`-th letter, *i.e.*, such that `mots_dict[x,n]` returns the same thing as `position(words, x , n)` except for the order.
Thus, the `words` list is traversed only once during dictionary construction and then dictionary evaluation is extremely fast for any query.